@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reiniciada. Porfavor <a asp-page="./Login">presiona aqui para iniciar</a>.
</p>
